.u-section-1-1 {background-image: linear-gradient(to right, #a35559, #4312c2)}
.u-section-1-1 .u-sheet-1 {min-height: 259px}
.u-section-1-1 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 648px 0 56px}
.u-section-1-1 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 9px auto 0 116px}
.u-section-1-1 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -163px 101px 0 auto}
.u-section-1-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-1-1 .u-sheet-1 {min-height: 650px}
.u-section-1-1 .u-text-1 {color: rgb(255, 255, 255) !important; margin-top: 0; margin-right: 503px; margin-left: 76px}
.u-section-1-1 .u-text-2 {margin-top: 0; margin-left: 96px}
.u-section-1-1 .u-image-1 {margin-top: 0}
.u-section-1-1 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-1-1 .u-sheet-1 {min-height: 498px}
.u-section-1-1 .u-text-1 {margin-right: 283px; margin-left: 58px}
.u-section-1-1 .u-text-2 {margin-left: 74px}
.u-section-1-1 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1-1 .u-sheet-1 {min-height: 374px}
.u-section-1-1 .u-text-1 {font-size: 6rem; margin-right: 103px; margin-left: 44px}
.u-section-1-1 .u-text-2 {margin-left: 56px} }

@media (max-width: 575px){ .u-section-1-1 .u-sheet-1 {min-height: 248px}
.u-section-1-1 .u-text-1 {font-size: 3.75rem; margin-right: auto; margin-left: 67px}
.u-section-1-1 .u-text-2 {margin-left: 35px}
.u-section-1-1 .u-image-1 {width: 340px; height: 160px; margin-right: 0} }.u-section-1-2 {background-image: linear-gradient(to right, #f1c50e, #ebef00)}
.u-section-1-2 .u-sheet-1 {min-height: 259px}
.u-section-1-2 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-1-2 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 227px}
.u-section-1-2 .u-image-1 {width: 491px; height: 135px; animation-duration: 1000ms; margin: -132px 37px 0 auto}
.u-section-1-2 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 23px 226px 28px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-1-2 .u-sheet-1 {min-height: 650px}
.u-section-1-2 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-1-2 .u-text-2 {margin-left: 187px}
.u-section-1-2 .u-image-1 {margin-top: -152px}
.u-section-1-2 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-1-2 .u-sheet-1 {min-height: 498px}
.u-section-1-2 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-1-2 .u-text-2 {margin-left: 143px}
.u-section-1-2 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1-2 .u-sheet-1 {min-height: 374px}
.u-section-1-2 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-1-2 .u-text-2 {margin-left: 107px}
.u-section-1-2 .u-btn-1 {margin-top: 9px} }

@media (max-width: 575px){ .u-section-1-2 .u-sheet-1 {min-height: 235px}
.u-section-1-2 .u-text-1 {font-size: 3.75rem; margin-left: 28px; margin-right: 0}
.u-section-1-2 .u-text-2 {margin-left: 67px}
.u-section-1-2 .u-image-1 {width: 340px; height: 94px; margin-top: 20px; margin-right: auto; margin-left: 67px}
.u-section-1-2 .u-btn-1 {margin: 70px auto 9px 67px} }.u-section-1-3 {background-image: linear-gradient(to right, #2cccc4, #04bb21)}
.u-section-1-3 .u-sheet-1 {min-height: 259px}
.u-section-1-3 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-1-3 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 206px}
.u-section-1-3 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -154px 101px 0 auto}
.u-section-1-3 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-1-3 .u-sheet-1 {min-height: 650px}
.u-section-1-3 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-1-3 .u-text-2 {margin-left: 170px}
.u-section-1-3 .u-image-1 {margin-top: -152px}
.u-section-1-3 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-1-3 .u-sheet-1 {min-height: 498px}
.u-section-1-3 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-1-3 .u-text-2 {margin-left: 130px}
.u-section-1-3 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-1-3 .u-sheet-1 {min-height: 374px}
.u-section-1-3 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-1-3 .u-text-2 {margin-left: 98px}
.u-section-1-3 .u-btn-1 {margin-top: 9px} }

@media (max-width: 575px){ .u-section-1-3 .u-sheet-1 {min-height: 248px}
.u-section-1-3 .u-text-1 {font-size: 3.75rem; margin-top: 20px; margin-left: 67px; margin-right: auto}
.u-section-1-3 .u-text-2 {margin-left: 62px}
.u-section-1-3 .u-image-1 {width: 340px; height: 160px; margin-right: 0}
.u-section-1-3 .u-btn-1 {margin-top: 70px; margin-bottom: 9px} }.u-section-2-1 {background-image: linear-gradient(to right, #a35559, #4312c2)}
.u-section-2-1 .u-sheet-1 {min-height: 259px}
.u-section-2-1 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-2-1 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 9px auto 0 116px}
.u-section-2-1 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -163px 101px 0 auto} 

@media (max-width: 1199px){ .u-section-2-1 .u-sheet-1 {min-height: 650px}
.u-section-2-1 .u-text-1 {color: rgb(255, 255, 255) !important; margin-top: 0; margin-right: 456px; margin-left: 76px}
.u-section-2-1 .u-text-2 {margin-top: 0; margin-left: 96px}
.u-section-2-1 .u-image-1 {margin-top: 0} }

@media (max-width: 991px){ .u-section-2-1 .u-sheet-1 {min-height: 498px}
.u-section-2-1 .u-text-1 {margin-right: 283px; margin-left: 58px}
.u-section-2-1 .u-text-2 {margin-left: 74px} }

@media (max-width: 767px){ .u-section-2-1 .u-sheet-1 {min-height: 374px}
.u-section-2-1 .u-text-1 {font-size: 6rem; margin-right: 103px; margin-left: 44px}
.u-section-2-1 .u-text-2 {margin-left: 56px} }

@media (max-width: 575px){ .u-section-2-1 .u-sheet-1 {min-height: 119px}
.u-section-2-1 .u-text-1 {width: auto; font-size: 3rem; margin-right: 150px; margin-left: -26px}
.u-section-2-1 .u-text-2 {font-size: 0.625rem; width: auto; margin-right: 134px; margin-left: -42px}
.u-section-2-1 .u-image-1 {width: 152px; height: 62px; margin-top: -62px; margin-right: -10px; margin-bottom: 35px} }.u-section-2-2 {background-image: linear-gradient(to right, #f1c50e, #ebef00)}
.u-section-2-2 .u-sheet-1 {min-height: 259px}
.u-section-2-2 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-2-2 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 227px}
.u-section-2-2 .u-image-1 {width: 491px; height: 135px; animation-duration: 1000ms; margin: -132px 37px 0 auto} 

@media (max-width: 1199px){ .u-section-2-2 .u-sheet-1 {min-height: 650px}
.u-section-2-2 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-2-2 .u-text-2 {margin-left: 187px}
.u-section-2-2 .u-image-1 {margin-top: -152px} }

@media (max-width: 991px){ .u-section-2-2 .u-sheet-1 {min-height: 498px}
.u-section-2-2 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-2-2 .u-text-2 {margin-left: 143px} }

@media (max-width: 767px){ .u-section-2-2 .u-sheet-1 {min-height: 374px}
.u-section-2-2 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-2-2 .u-text-2 {margin-left: 107px} }

@media (max-width: 575px){ .u-section-2-2 .u-sheet-1 {min-height: 119px}
.u-section-2-2 .u-text-1 {width: auto; font-size: 3rem; margin-top: 7px; margin-right: 65px; margin-left: -123px}
.u-section-2-2 .u-text-2 {font-size: 0.625rem; width: auto; margin-left: -12px}
.u-section-2-2 .u-image-1 {width: 206px; height: 63px; margin-top: -67px; margin-right: -47px} }.u-section-2-3 {background-image: linear-gradient(to right, #2cccc4, #04bb21)}
.u-section-2-3 .u-sheet-1 {min-height: 259px}
.u-section-2-3 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-2-3 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 206px}
.u-section-2-3 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -154px 101px 0 auto} 

@media (max-width: 1199px){ .u-section-2-3 .u-sheet-1 {min-height: 650px}
.u-section-2-3 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-2-3 .u-text-2 {margin-left: 170px}
.u-section-2-3 .u-image-1 {margin-top: -152px} }

@media (max-width: 991px){ .u-section-2-3 .u-sheet-1 {min-height: 498px}
.u-section-2-3 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-2-3 .u-text-2 {margin-left: 130px} }

@media (max-width: 767px){ .u-section-2-3 .u-sheet-1 {min-height: 374px}
.u-section-2-3 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-2-3 .u-text-2 {margin-left: 98px} }

@media (max-width: 575px){ .u-section-2-3 .u-sheet-1 {min-height: 119px}
.u-section-2-3 .u-text-1 {width: auto; margin-top: 14px; margin-right: 99px; margin-left: -32px; font-size: 3rem}
.u-section-2-3 .u-text-2 {font-size: 0.625rem; width: auto; margin-left: 4px}
.u-section-2-3 .u-image-1 {width: 138px; height: 70px; margin-top: -84px; margin-right: auto; margin-left: 227px} }.u-section-3-1 {background-image: linear-gradient(to right, #a35559, #4312c2)}
.u-section-3-1 .u-sheet-1 {min-height: 259px}
.u-section-3-1 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-3-1 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 9px auto 0 116px}
.u-section-3-1 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -163px 101px 0 auto}
.u-section-3-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-3-1 .u-sheet-1 {min-height: 650px}
.u-section-3-1 .u-text-1 {color: rgb(255, 255, 255) !important; margin-top: 0; margin-right: 456px; margin-left: 76px}
.u-section-3-1 .u-text-2 {margin-top: 0; margin-left: 96px}
.u-section-3-1 .u-image-1 {margin-top: 0}
.u-section-3-1 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-3-1 .u-sheet-1 {min-height: 231px}
.u-section-3-1 .u-text-1 {width: auto; margin-top: 28px; margin-right: 391px; margin-left: -50px}
.u-section-3-1 .u-text-2 {width: auto; margin-right: 382px; margin-left: -50px}
.u-section-3-1 .u-image-1 {width: 287px; height: 122px; margin-top: -122px; margin-right: 46px}
.u-section-3-1 .u-btn-1 {margin-top: 14px; margin-right: 145px; margin-bottom: 27px} }

@media (max-width: 767px){ .u-section-3-1 .u-sheet-1 {min-height: 374px}
.u-section-3-1 .u-text-1 {font-size: 6rem; margin-right: 103px; margin-left: 44px}
.u-section-3-1 .u-text-2 {margin-right: 202px; margin-left: -1px}
.u-section-3-1 .u-btn-1 {margin-right: 0} }

@media (max-width: 575px){ .u-section-3-1 .u-sheet-1 {min-height: 248px}
.u-section-3-1 .u-text-1 {font-size: 3.75rem; margin-right: auto; margin-left: 67px}
.u-section-3-1 .u-text-2 {margin-right: 0} }.u-section-3-2 {background-image: linear-gradient(to right, #f1c50e, #ebef00)}
.u-section-3-2 .u-sheet-1 {min-height: 259px}
.u-section-3-2 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-3-2 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 227px}
.u-section-3-2 .u-image-1 {width: 491px; height: 135px; animation-duration: 1000ms; margin: -132px 37px 0 auto}
.u-section-3-2 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 23px 226px 28px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-3-2 .u-sheet-1 {min-height: 650px}
.u-section-3-2 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-3-2 .u-text-2 {margin-left: 187px}
.u-section-3-2 .u-image-1 {margin-top: -152px}
.u-section-3-2 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-3-2 .u-sheet-1 {min-height: 231px}
.u-section-3-2 .u-text-1 {width: auto; margin-top: 62px; margin-right: 384px; margin-left: -42px}
.u-section-3-2 .u-text-2 {width: auto; margin-top: 30px; margin-left: 6px}
.u-section-3-2 .u-image-1 {margin-top: -187px; margin-right: -65px}
.u-section-3-2 .u-btn-1 {margin-top: 19px; margin-right: 112px; margin-bottom: 0} }

@media (max-width: 767px){ .u-section-3-2 .u-sheet-1 {min-height: 374px}
.u-section-3-2 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-3-2 .u-text-2 {margin-left: 5px}
.u-section-3-2 .u-btn-1 {margin-top: 9px; margin-right: 0} }

@media (max-width: 575px){ .u-section-3-2 .u-sheet-1 {min-height: 235px}
.u-section-3-2 .u-text-1 {font-size: 3.75rem; margin-left: 28px; margin-right: 194px}
.u-section-3-2 .u-text-2 {margin-left: 3px}
.u-section-3-2 .u-image-1 {width: 340px; height: 94px; margin-top: 20px; margin-right: auto; margin-left: 67px}
.u-section-3-2 .u-btn-1 {margin: 70px auto 9px 67px} }.u-section-3-3 {background-image: linear-gradient(to right, #2cccc4, #04bb21)}
.u-section-3-3 .u-sheet-1 {min-height: 259px}
.u-section-3-3 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-3-3 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 206px}
.u-section-3-3 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -154px 101px 0 auto}
.u-section-3-3 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-3-3 .u-sheet-1 {min-height: 650px}
.u-section-3-3 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-3-3 .u-text-2 {margin-left: 170px}
.u-section-3-3 .u-image-1 {margin-top: -152px}
.u-section-3-3 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-3-3 .u-sheet-1 {min-height: 231px}
.u-section-3-3 .u-text-1 {width: auto; margin-top: 29px; margin-right: 267px; margin-left: -124px}
.u-section-3-3 .u-text-2 {width: auto; margin-top: 30px; margin-left: 5px}
.u-section-3-3 .u-image-1 {margin-top: -188px; margin-right: -8px}
.u-section-3-3 .u-btn-1 {margin-top: 7px; margin-right: 117px; margin-bottom: 0} }

@media (max-width: 767px){ .u-section-3-3 .u-sheet-1 {min-height: 374px}
.u-section-3-3 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-3-3 .u-text-2 {margin-left: 4px}
.u-section-3-3 .u-btn-1 {margin-top: 9px; margin-right: 0} }

@media (max-width: 575px){ .u-section-3-3 .u-sheet-1 {min-height: 248px}
.u-section-3-3 .u-text-1 {font-size: 3.75rem; margin-left: 67px; margin-right: 0}
.u-section-3-3 .u-text-2 {margin-left: 3px}
.u-section-3-3 .u-image-1 {width: 340px; height: 160px; margin-right: 0}
.u-section-3-3 .u-btn-1 {margin-top: 70px; margin-bottom: 9px} }.u-section-4-1 {background-image: linear-gradient(to right, #a35559, #4312c2)}
.u-section-4-1 .u-sheet-1 {min-height: 259px}
.u-section-4-1 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-4-1 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 9px auto 0 116px}
.u-section-4-1 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -163px 101px 0 auto}
.u-section-4-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-4-1 .u-sheet-1 {min-height: 221px}
.u-section-4-1 .u-text-1 {width: auto; color: rgb(255, 255, 255) !important; margin-top: 26px; margin-right: 487px; margin-left: 46px}
.u-section-4-1 .u-text-2 {width: auto; margin-top: 26px; margin-left: 92px}
.u-section-4-1 .u-image-1 {width: 284px; height: 119px; margin-top: -155px; margin-right: 107px}
.u-section-4-1 .u-btn-1 {margin-top: 22px; margin-right: 177px; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-4-1 .u-sheet-1 {min-height: 498px}
.u-section-4-1 .u-text-1 {margin-right: 283px; margin-left: 58px}
.u-section-4-1 .u-text-2 {margin-left: 70px}
.u-section-4-1 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-4-1 .u-sheet-1 {min-height: 374px}
.u-section-4-1 .u-text-1 {font-size: 6rem; margin-right: 103px; margin-left: 44px}
.u-section-4-1 .u-text-2 {margin-left: 53px} }

@media (max-width: 575px){ .u-section-4-1 .u-sheet-1 {min-height: 248px}
.u-section-4-1 .u-text-1 {font-size: 3.75rem; margin-right: auto; margin-left: 67px}
.u-section-4-1 .u-text-2 {margin-left: 33px}
.u-section-4-1 .u-image-1 {margin-right: 56px} }.u-section-4-2 {background-image: linear-gradient(to right, #f1c50e, #ebef00)}
.u-section-4-2 .u-sheet-1 {min-height: 259px}
.u-section-4-2 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-4-2 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 227px}
.u-section-4-2 .u-image-1 {width: 491px; height: 135px; animation-duration: 1000ms; margin: -132px 37px 0 auto}
.u-section-4-2 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 23px 226px 28px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-4-2 .u-sheet-1 {min-height: 221px}
.u-section-4-2 .u-text-1 {color: rgb(255, 255, 255) !important; margin-right: 456px; margin-left: 76px}
.u-section-4-2 .u-text-2 {width: auto; margin-top: 14px; margin-left: 139px}
.u-section-4-2 .u-image-1 {width: 405px; margin-top: -166px}
.u-section-4-2 .u-btn-1 {margin-top: 7px; margin-right: 183px; margin-bottom: 17px} }

@media (max-width: 991px){ .u-section-4-2 .u-sheet-1 {min-height: 498px}
.u-section-4-2 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-4-2 .u-text-2 {margin-left: 106px}
.u-section-4-2 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-4-2 .u-sheet-1 {min-height: 374px}
.u-section-4-2 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-4-2 .u-text-2 {margin-left: 80px}
.u-section-4-2 .u-btn-1 {margin-top: 9px} }

@media (max-width: 575px){ .u-section-4-2 .u-sheet-1 {min-height: 235px}
.u-section-4-2 .u-text-1 {font-size: 3.75rem; margin-left: 28px; margin-right: 0}
.u-section-4-2 .u-text-2 {margin-left: 50px}
.u-section-4-2 .u-image-1 {width: 340px; height: 94px; margin-top: 20px; margin-right: auto; margin-left: 67px}
.u-section-4-2 .u-btn-1 {margin: 70px auto 9px 67px} }.u-section-4-3 {background-image: linear-gradient(to right, #2cccc4, #04bb21)}
.u-section-4-3 .u-sheet-1 {min-height: 259px}
.u-section-4-3 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-4-3 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 206px}
.u-section-4-3 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -154px 101px 0 auto}
.u-section-4-3 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-4-3 .u-sheet-1 {min-height: 221px}
.u-section-4-3 .u-text-1 {color: rgb(255, 255, 255) !important; width: auto; margin-right: -261px; margin-left: -542px}
.u-section-4-3 .u-text-2 {margin-left: 170px}
.u-section-4-3 .u-image-1 {width: 281px; height: 131px; margin-top: -155px; margin-right: 51px}
.u-section-4-3 .u-btn-1 {margin-top: 17px; margin-right: 127px; margin-bottom: 26px} }

@media (max-width: 991px){ .u-section-4-3 .u-sheet-1 {min-height: 498px}
.u-section-4-3 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-4-3 .u-text-2 {margin-left: 130px}
.u-section-4-3 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-4-3 .u-sheet-1 {min-height: 374px}
.u-section-4-3 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-4-3 .u-text-2 {margin-left: 98px}
.u-section-4-3 .u-btn-1 {margin-top: 9px} }

@media (max-width: 575px){ .u-section-4-3 .u-sheet-1 {min-height: 248px}
.u-section-4-3 .u-text-1 {font-size: 3.75rem; margin-top: 20px; margin-left: 67px; margin-right: auto}
.u-section-4-3 .u-text-2 {margin-left: 62px}
.u-section-4-3 .u-btn-1 {margin-top: 70px; margin-bottom: 9px} }.u-section-9-1 {background-image: linear-gradient(to right, #f1c50e, #ebef00)}
.u-section-9-1 .u-sheet-1 {min-height: 263px}
.u-section-9-1 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 44px 556px 0 147px}
.u-section-9-1 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 227px}
.u-section-9-1 .u-image-1 {width: 491px; height: 135px; animation-duration: 1000ms; margin: -132px 37px 0 auto}
.u-section-9-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 23px 226px 28px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-9-1 .u-sheet-1 {min-height: 650px}
.u-section-9-1 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-9-1 .u-text-2 {margin-left: 187px}
.u-section-9-1 .u-image-1 {margin-top: -152px}
.u-section-9-1 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-9-1 .u-sheet-1 {min-height: 498px}
.u-section-9-1 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-9-1 .u-text-2 {margin-left: 143px}
.u-section-9-1 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-9-1 .u-sheet-1 {min-height: 374px}
.u-section-9-1 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-9-1 .u-text-2 {margin-left: 107px}
.u-section-9-1 .u-btn-1 {margin-top: 9px} }

@media (max-width: 575px){ .u-section-9-1 .u-sheet-1 {min-height: 235px}
.u-section-9-1 .u-text-1 {font-size: 3.75rem; margin-left: 28px; margin-right: 0}
.u-section-9-1 .u-text-2 {margin-left: 67px}
.u-section-9-1 .u-image-1 {width: 340px; height: 94px; margin-top: 20px; margin-right: auto; margin-left: 67px}
.u-section-9-1 .u-btn-1 {margin: 70px auto 9px 67px} }.u-section-9-2 {background-image: linear-gradient(to right, #2cccc4, #04bb21)}
.u-section-9-2 .u-sheet-1 {min-height: 263px}
.u-section-9-2 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-9-2 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 0 auto 0 206px}
.u-section-9-2 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -154px 101px 0 auto}
.u-section-9-2 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-9-2 .u-sheet-1 {min-height: 650px}
.u-section-9-2 .u-text-1 {margin-left: 76px; margin-right: 456px; color: rgb(255, 255, 255) !important}
.u-section-9-2 .u-text-2 {margin-left: 170px}
.u-section-9-2 .u-image-1 {margin-top: -152px}
.u-section-9-2 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-9-2 .u-sheet-1 {min-height: 498px}
.u-section-9-2 .u-text-1 {margin-left: 58px; margin-right: 283px}
.u-section-9-2 .u-text-2 {margin-left: 130px}
.u-section-9-2 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-9-2 .u-sheet-1 {min-height: 374px}
.u-section-9-2 .u-text-1 {margin-left: 44px; margin-right: 103px; font-size: 6rem}
.u-section-9-2 .u-text-2 {margin-left: 98px}
.u-section-9-2 .u-btn-1 {margin-top: 9px} }

@media (max-width: 575px){ .u-section-9-2 .u-sheet-1 {min-height: 252px}
.u-section-9-2 .u-text-1 {font-size: 3.75rem; margin-top: 20px; margin-left: 67px; margin-right: auto}
.u-section-9-2 .u-text-2 {margin-left: 62px}
.u-section-9-2 .u-image-1 {width: 340px; height: 160px; margin-right: 0}
.u-section-9-2 .u-btn-1 {margin-top: 70px; margin-bottom: 9px} }.u-section-9-3 {background-image: linear-gradient(to right, #a35559, #4312c2)}
.u-section-9-3 .u-sheet-1 {min-height: 263px}
.u-section-9-3 .u-text-1 {background-image: none; font-size: 4.5rem; animation-duration: 1000ms; margin: 40px 556px 0 147px}
.u-section-9-3 .u-text-2 {font-size: 1rem; font-weight: 700; animation-duration: 1000ms; margin: 9px auto 0 116px}
.u-section-9-3 .u-image-1 {width: 363px; height: 171px; animation-duration: 1000ms; margin: -163px 101px 0 auto}
.u-section-9-3 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 9px 226px 31px auto; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-9-3 .u-sheet-1 {min-height: 650px}
.u-section-9-3 .u-text-1 {color: rgb(255, 255, 255) !important; margin-top: 0; margin-right: 456px; margin-left: 76px}
.u-section-9-3 .u-text-2 {margin-top: 0; margin-left: 96px}
.u-section-9-3 .u-image-1 {margin-top: 0}
.u-section-9-3 .u-btn-1 {margin-top: 0; margin-right: 26px; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-9-3 .u-sheet-1 {min-height: 498px}
.u-section-9-3 .u-text-1 {margin-right: 283px; margin-left: 58px}
.u-section-9-3 .u-text-2 {margin-left: 74px}
.u-section-9-3 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-9-3 .u-sheet-1 {min-height: 374px}
.u-section-9-3 .u-text-1 {font-size: 6rem; margin-right: 103px; margin-left: 44px}
.u-section-9-3 .u-text-2 {margin-left: 56px} }

@media (max-width: 575px){ .u-section-9-3 .u-sheet-1 {min-height: 252px}
.u-section-9-3 .u-text-1 {font-size: 3.75rem; margin-right: auto; margin-left: 67px}
.u-section-9-3 .u-text-2 {margin-left: 35px}
.u-section-9-3 .u-image-1 {width: 340px; height: 160px; margin-right: 0} }.u-block-5895-2 {position: absolute; bottom: 10px; margin-bottom: 0}
.u-block-5895-3 {position: absolute; left: 0; background-image: none; width: 45px; height: 45px; top: 124px; right: auto}
.u-block-5895-4 {position: absolute; background-image: none; width: 45px; height: 45px; left: auto; top: 124px; right: 0} 

@media (max-width: 1199px){ .u-block-5895-3 {margin-top: 0; margin-bottom: 0}
.u-block-5895-4 {margin-top: 0} }.u-block-c378-2 {position: absolute; bottom: 10px; margin-bottom: 0}
.u-block-c378-3 {position: absolute; left: 0; background-image: none; width: 45px; height: 45px; top: 124px; right: auto}
.u-block-c378-4 {position: absolute; background-image: none; width: 45px; height: 45px; left: auto; top: 124px; right: 0} 

@media (max-width: 1199px){ .u-block-c378-3 {margin-top: 0; margin-bottom: 0}
.u-block-c378-4 {margin-top: 0} }.u-block-52ac-2 {position: absolute; bottom: 10px; margin-bottom: 0}
.u-block-52ac-3 {position: absolute; left: 0; background-image: none; width: 45px; height: 45px; top: 124px; right: auto}
.u-block-52ac-4 {position: absolute; background-image: none; width: 45px; height: 45px; left: auto; top: 124px; right: 0} 

@media (max-width: 1199px){ .u-block-52ac-3 {margin-top: 0; margin-bottom: 0}
.u-block-52ac-4 {margin-top: 0} }.u-block-2651-2 {position: absolute; bottom: 10px; margin-bottom: 0}
.u-block-2651-3 {position: absolute; left: 0; background-image: none; width: 45px; height: 45px; top: 124px; right: auto}
.u-block-2651-4 {position: absolute; background-image: none; width: 45px; height: 45px; left: auto; top: 124px; right: 0} 

@media (max-width: 1199px){ .u-block-2651-3 {margin-top: 0; margin-bottom: 0}
.u-block-2651-4 {margin-top: 0} }.u-section-5 .u-sheet-1 {min-height: 266px}
.u-section-5 .u-text-1 {animation-duration: 1000ms; margin: 0 909px 0 0}
.u-section-5 .u-icon-1 {font-size: 1.2em; animation-duration: 1000ms}
.u-section-5 .u-icon-2 {height: 90px; width: 90px; background-image: none; animation-duration: 1000ms; margin: 25px auto 0 135px}
.u-section-5 .u-icon-3 {height: 90px; width: 90px; background-image: none; animation-duration: 1000ms; margin: -90px auto 0 330px}
.u-section-5 .u-icon-4 {height: 90px; width: 90px; background-image: none; animation-duration: 1000ms; margin: -90px auto 0}
.u-section-5 .u-icon-5 {height: 90px; width: 90px; background-image: none; animation-duration: 1000ms; margin: -90px 330px 0 auto}
.u-section-5 .u-icon-6 {height: 90px; width: 90px; background-image: none; animation-duration: 1000ms; margin: -90px 135px 0 auto}
.u-section-5 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.75rem; letter-spacing: 1px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25); background-image: none; animation-duration: 1000ms; margin: 14px auto 0 100px; padding: 8px 31px 9px}
.u-section-5 .u-btn-2 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.75rem; letter-spacing: 1px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25); background-image: none; animation-duration: 1000ms; margin: -36px auto 0 295px; padding: 8px 50px 9px 49px}
.u-section-5 .u-btn-3 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.75rem; letter-spacing: 1px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25); background-image: none; animation-duration: 1000ms; margin: -35px auto 0; padding: 8px 21px 9px}
.u-section-5 .u-btn-4 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.75rem; letter-spacing: 1px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25); background-image: none; animation-duration: 1000ms; margin: -37px 295px 0 auto; padding: 8px 53px 9px}
.u-section-5 .u-btn-5 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.75rem; letter-spacing: 1px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25); background-image: none; animation-duration: 1000ms; margin: -36px 100px 60px auto; padding: 8px 60px 9px 59px} 

@media (max-width: 1199px){ .u-section-5 .u-text-1 {margin-right: 709px}
.u-section-5 .u-icon-1 {font-size: 1.2rem}
.u-section-5 .u-btn-1 {margin-left: 0; align-self: flex-end}
.u-section-5 .u-btn-2 {margin-left: 95px; align-self: flex-end}
.u-section-5 .u-btn-3 {align-self: flex-end}
.u-section-5 .u-btn-4 {margin-right: 95px; align-self: flex-end}
.u-section-5 .u-btn-5 {margin-right: 0} }

@media (max-width: 991px){ .u-section-5 .u-text-1 {margin-right: 489px}
.u-section-5 .u-btn-2 {margin-left: 0}
.u-section-5 .u-btn-4 {margin-right: 0} }

@media (max-width: 767px){ .u-section-5 .u-text-1 {margin-right: 309px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {margin-right: 109px}
.u-section-5 .u-icon-3 {margin-left: 250px}
.u-section-5 .u-icon-4 {margin-top: 20px; margin-left: 250px}
.u-section-5 .u-icon-5 {margin-top: 20px; margin-right: 250px}
.u-section-5 .u-btn-2 {margin-top: 20px}
.u-section-5 .u-btn-3 {margin-top: 20px; margin-left: 0}
.u-section-5 .u-btn-4 {margin-top: 20px; margin-left: 0; margin-right: auto}
.u-section-5 .u-btn-5 {margin-top: 20px; margin-right: auto; margin-left: 0} }.u-section-6 .u-sheet-1 {min-height: 452px}
.u-section-6 .u-layout-wrap-1 {width: 1216px; background-image: none; margin: 0 -76px 5px 0}
.u-section-6 .u-layout-cell-1 {min-height: 446px}
.u-section-6 .u-container-layout-1 {padding: 30px 65px 110px 60px}
.u-section-6 .u-line-1 {width: 111px; height: 6px; transform-origin: left center 0; margin: 15px auto 0 1px}
.u-section-6 .u-text-1 {font-size: 2.25rem; line-height: 1; font-weight: 700; margin: 20px -4px 0 4px}
.u-section-6 .u-text-2 {font-size: 1rem; font-style: normal; font-weight: 700; margin: 23px -1px 0 1px}
.u-section-6 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 57px auto -33px 144px; padding: 5px 18px 6px}
.u-section-6 .u-layout-cell-2 {min-height: 446px}
.u-section-6 .u-container-layout-2 {padding: 30px 30px 34px}
.u-section-6 .u-image-1 {width: 748px; height: 368px; animation-duration: 1000ms; margin: 15px -178px 0 auto} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 372px}
.u-section-6 .u-layout-wrap-1 {width: 940px; margin-right: 0}
.u-section-6 .u-layout-cell-1 {min-height: 345px}
.u-section-6 .u-container-layout-1 {padding-top: 40px; padding-bottom: 40px}
.u-section-6 .u-text-1 {margin-left: 0; margin-right: 0; font-size: 4.5rem}
.u-section-6 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-6 .u-btn-1 {margin-left: 10px}
.u-section-6 .u-layout-cell-2 {min-height: 345px; background-position: 50% 50%}
.u-section-6 .u-image-1 {width: 426px; height: 209px; margin-right: 0} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 285px}
.u-section-6 .u-layout-wrap-1 {width: 720px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-text-1 {font-size: 3.75rem}
.u-section-6 .u-btn-1 {margin-left: 0}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-container-layout-2 {padding-bottom: 30px}
.u-section-6 .u-image-1 {width: 312px; height: 153px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 214px}
.u-section-6 .u-layout-wrap-1 {width: 540px}
.u-section-6 .u-container-layout-1 {padding: 60px 100px 30px 10px}
.u-section-6 .u-text-1 {font-size: 3.4375rem}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 135px}
.u-section-6 .u-layout-wrap-1 {width: 340px}
.u-section-6 .u-container-layout-1 {padding-top: 30px; padding-right: 50px}
.u-section-6 .u-text-1 {font-size: 2.25rem} }.u-section-7 .u-sheet-1 {min-height: 55px}.u-section-8 .u-sheet-1 {min-height: 568px}
.u-section-8 .u-layout-wrap-1 {width: 1216px; background-image: none; margin: 0 -76px 60px auto}
.u-section-8 .u-layout-cell-1 {min-height: 508px}
.u-section-8 .u-container-layout-1 {padding: 30px 65px 110px 60px}
.u-section-8 .u-image-1 {width: 538px; height: 319px; animation-duration: 1000ms; margin: 0 auto 0 -35px}
.u-section-8 .u-layout-cell-2 {min-height: 446px}
.u-section-8 .u-container-layout-2 {padding: 30px 30px 34px}
.u-section-8 .u-line-1 {width: 111px; height: 6px; transform-origin: left center 0; margin: 23px auto 0 30px}
.u-section-8 .u-text-1 {font-size: 2.25rem; line-height: 1; font-weight: 700; margin: 20px auto 0 30px}
.u-section-8 .u-text-2 {font-size: 1rem; font-style: normal; font-weight: 700; margin: 15px 75px 0 30px}
.u-section-8 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; font-size: 0.875rem; animation-duration: 1000ms; margin: 57px auto 0 171px; padding: 5px 18px 6px} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 350px}
.u-section-8 .u-layout-wrap-1 {width: 940px; margin-right: 0}
.u-section-8 .u-layout-cell-1 {min-height: 393px}
.u-section-8 .u-container-layout-1 {padding-top: 40px; padding-bottom: 40px}
.u-section-8 .u-image-1 {width: 426px; height: 195px; margin-top: 15px; margin-left: 0}
.u-section-8 .u-layout-cell-2 {min-height: 345px; background-position: 50% 50%}
.u-section-8 .u-line-1 {margin-top: 244px; margin-left: 1px}
.u-section-8 .u-text-1 {margin-left: 0; margin-right: 0; font-size: 4.5rem}
.u-section-8 .u-text-2 {margin-top: -391px; margin-left: 0; margin-right: 0}
.u-section-8 .u-btn-1 {margin-left: 10px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 269px}
.u-section-8 .u-layout-wrap-1 {width: 720px}
.u-section-8 .u-layout-cell-1 {min-height: 100px}
.u-section-8 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-8 .u-image-1 {width: 312px; height: 171px}
.u-section-8 .u-layout-cell-2 {min-height: 100px}
.u-section-8 .u-container-layout-2 {padding-bottom: 30px}
.u-section-8 .u-line-1 {margin-top: 294px}
.u-section-8 .u-text-1 {font-size: 3.75rem}
.u-section-8 .u-text-2 {margin-top: -477px}
.u-section-8 .u-btn-1 {margin-left: 0} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 488px}
.u-section-8 .u-layout-wrap-1 {width: 540px}
.u-section-8 .u-container-layout-1 {padding: 60px 100px 30px 10px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-line-1 {margin-top: 219px}
.u-section-8 .u-text-1 {font-size: 3.4375rem}
.u-section-8 .u-text-2 {margin-top: -332px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 146px}
.u-section-8 .u-layout-wrap-1 {width: 340px}
.u-section-8 .u-container-layout-1 {padding-top: 30px; padding-right: 50px}
.u-section-8 .u-line-1 {margin-top: 294px}
.u-section-8 .u-text-1 {font-size: 2.25rem}
.u-section-8 .u-text-2 {margin-top: -369px} }.u-block-f747-2 {position: absolute; bottom: 10px; margin-bottom: 0}
.u-block-f747-3 {position: absolute; left: 0; background-image: none; width: 45px; height: 45px; top: 124px; right: auto}
.u-block-f747-4 {position: absolute; background-image: none; width: 45px; height: 45px; left: auto; top: 124px; right: 0} 

@media (max-width: 1199px){ .u-block-f747-3 {margin-top: 0; margin-bottom: 0}
.u-block-f747-4 {margin-top: 0} }
